
html{ }
body{ margin: 0px; }
article, header, nav{ display: block; }
a{ -webkit-tap-highlight-color: transparent; background-color: transparent; }
img{ border: 0px; }
img{ margin-bottom: -5px; }
a{ color: inherit; }
 #main{ transition: margin-left 0.4s; -webkit-transition: margin-left 0.4s; }
.w3-container::after{ content: ''; display: table; clear: both; }
html{ font-size: 11px; }
body{ background-image: url(/build/img/images/fixed/paper-bg.jpg); background-color: rgb(255, 255, 255); font-family: Verdana; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; color: rgb(51, 51, 51); }
.container{ margin: 0px auto; max-width: 1000px; padding: 0px 10px; width: 100%; }
h1, h2{ font-family: Verdana, Geneva, sans-serif; color: rgb(34, 34, 34); margin: 1em 0px 15px; padding: 0px; }
@media screen and (max-width: 640px){
h1, h2{ line-height: 1.4; }
}
h1{ font-size: 18px; }
h1 a{ color: inherit; }
h2{ font-size: 16px; }
p{ margin: 15px 0px; font-size: 11px; }
a{ color: rgb(0, 135, 81); text-decoration: none; cursor: pointer; }
ul{ margin: 15px 0px; padding-left: 30px; }
ul{ list-style-type: disc; }
img{ max-width: 100%; }
.wrapper-masthead{ margin-bottom: 50px; }
.masthead{ padding: 3px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(51, 51, 51); }
@media screen and (max-width: 640px){
.masthead{ text-align: center; }
}
.site-avatar{ width: 70px; height: 70px; margin-right: 15px; }
@media screen and (max-width: 640px){
.site-avatar{ float: none; display: none; margin: 0px auto; }
}
.site-avatar img{ border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; max-width: 50%; display: block; margin-left: auto; margin-right: auto; }
.site-info{ }
@media screen and (max-width: 640px){
.site-info{ float: none; display: block; margin: 0px auto; }
}
.site-description{ margin: -5px 0px 0px; color: rgb(0, 135, 81); font-size: 16px; }
@media screen and (max-width: 640px){
.site-description{ margin: 3px 0px; }
}
nav{ float: right; margin-top: 23px; }
@media screen and (max-width: 640px){
nav{ float: none; margin-top: 9px; display: block; }
}
nav a{ margin-left: 20px; color: rgb(51, 51, 51); text-align: right; font-weight: 300; letter-spacing: 1px; }
@media screen and (max-width: 640px){
nav a{ margin: 0px 10px; color: rgb(204, 153, 0); }
}
.posts > .post{ padding-bottom: 2em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(51, 51, 51); }