<div>
### Openingstijden {{ site.name }} Lounge & Dining:
  
| maandag | <time>17:30</time> - <time>19:00</time> uur, (alleen voor 3-gangen diner) | 
| dinsdag | <time>17:30</time> - <time>19:00</time> uur (alleen voor 3-gangen diner) |
| woensdag | <time>17:30</time> - <time>19:00</time> uur (alleen voor 3-gangen diner) |
| donderdag | <time>11:00</time> - <time>17:00</time> en van <time>17:30</time> - <time>19:00</time> uur (alleen voor 3-gangen diner) |
| vrijdag | <time>11:00</time> - <time>17:00</time> en van <time>17:30</time> - <time>19:00</time> uur (alleen voor 3-gangen diner) |
| zaterdag | <time>11:00</time> - <time>17:00</time> uur |
| zondag | <time>11:00</time> - <time>17:00</time> uur |
</div>