<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <style>
        {% include _critical.html %}
    </style>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--next script needed for navbar scroll-->
    <script>
        var cb = function() {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = 'https://fonts.googleapis.com/icon?family=Material+Icons';
            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>
    <script>
        var cb2 = function() {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = '{{ site.baseurl }}/style.css';
            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
        };
        var raf2 = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf2) raf2(cb2);
        else window.addEventListener('load', cb2);
    </script>
    </head>
    <body >
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

                    <div class="site-info">
                      <!--<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>  -->
                      <p class="site-description">{{ site.description }}</p>
                    </div>
                  <nav>
                    <button class="w3-mystyle" >
                    <a href="{{ site.baseurl }}/#map">
                    <i class="material-icons">place
                    </i>
                    </a>
                    </button>
                    <a href="{{ site.baseurl }}/">Home</a>
                    <a href="{{ site.baseurl }}/blog">Blog</a>
                    <button class="w3-mystyle" >
                    <a href="tel:{{ site:phone }}">
                    <i class="material-icons">phone
                    </i>
                    </a>
                    </button>
                  </nav>
                  <div id="flnav" class="flnav">
                    <ul id="innernav">
                      <button class="w3-mystyle">
                      <a href="{{ site.baseurl }}/#map">
                      <i class="material-icons">place
                      </i>
                      </a>
                      </button>
                      <a href="{{ site.baseurl }}/">Home</a>
                      <a href="{{ site.baseurl }}/blog">Blog</a>
                      <button class="w3-mystyle">
                      <a href="tel:{{ site:phone }}">
                      <i class="material-icons">phone
                      </i>
                      </a>
                      </button>
                    </ul>
                  </div>
                </header>
            </div>
        </div>
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
    <div class="container">
      <div class="wrapper-footer">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <script src="{{ baseurl }}/build/jquery-1.10.2.js"></script>
    <script type="text/javascript">
    // script to scroll the navbar
        $(document).scroll(function() {
          if ($( window ).width() < 800){
            if ($(this).scrollTop() < 130) {
                $( ".flnav" ).slideUp(50);
            }
            else {
                $( ".flnav" ).slideDown(70);
                $( ".flnav" ).show();
                // next lines recenter the navbar, by setting the correct width
                var newWidth = getWidth("innernav") + 15;
                // newWidth = "270px";
                var myNav = document.getElementById("flnav");
                myNav.style.width = newWidth + "px"; 
                function getWidth(eleID){
                  element = document.getElementById(eleID);
                  return ( $(element).width() );
                }
            }
        }
        else {
          $( ".flnav").hide();
        }
      });
    </script>
    <script>
      // script to load the buttons 
      var cb = function() {
          var l = document.createElement('link');
          l.rel = 'stylesheet';
          l.href = 'https://fonts.googleapis.com/icon?family=Material+Icons';
          var h = document.getElementsByTagName('head')[0];
          h.parentNode.insertBefore (l, h);
          };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb); 
      else window.addEventListener('load', cb); 
    </script>
    
  </body>
</html>
